body{
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top,#ee9ca7,#ff7484);
}
.App{
    display:flex;
    align-items: center;
    justify-content: center;
}
*:focus{
    outline:none!important;
    outline-offset:0px!important;
    box-shadow:none!important;
}
*::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
@media(max-width:768px){
   .container{ 
    width: 100vw!important;
    height: 100vh!important;
    margin:0!important;
   }
    .sidebar{
        position:absolute;
        z-index:10;
        background-color:white;
        visibility: hidden;
        width:100vw;
        height: 100vh;
   }
   .show-navbar{
    visibility: visible!important;
    padding:5px;
    margin:2px;
    margin-top:100px;
    text-align: center;
    cursor:pointer;
   }
   .close-navbar{
    visibility:visible!important;
    position: absolute;
    right:0;
    top:76px;
    margin-right:10px;
   }
   .chat{
    
   }
}
